.logo{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Carousel - banner */
.carousel-caption{
    top: 30%;
    bottom: 35%;
    z-index: 10;
    margin: 0 0;
    letter-spacing: 3px;
    font-size: 25px;
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
}
.carousel-item{
    opacity: 0.9;
    justify-content: center;
}
mark{
    background-color: #E72D4B;
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Peliculas */
.container-pelicula{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "col-pelicula1 col-pelicula2 col-pelicula3 col-pelicula4";
}
.col-pelicula1, .col-pelicula2, .col-pelicula3, col-pelicula4{
    text-align: center;
    font-size: auto;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inconsolata', monospace;
    color: #fff;
}

.title-peliculas{
    color:#E72D4B;
    bold: normal;
    font-weight: bold;
    margin-top: 20px;
}

.textoPeliculas{
    background: #000000;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    max-height: 75px;
    margin: auto auto;
    border-left:8px solid #E72D4B;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    color: #fff;
}

/* Footer */
.py-lg-5{
    color:#fff;
    font-size: 18px;
    height: 120px;
    text-align: center;
    vertical-align: center;
    background-color: #000;
}

.imagenPeli{

    padding-bottom:10px;
    max-height: 455px;
    resize: both;
}